/* info box on top of the table */
div.infoBox {
    min-height: 25px;
    color: #555555;
}

div.infoTable {
    float: left;
    font-size: 17px;
}

div.fetchChkBoxWrapper{
    float: right;
    font-size: 14px;
}

div.fetchChkBoxWrapper label{
    vertical-align: middle;
    padding-bottom: 7px;
}

/* menu box on top of the table */

div.headerBox {
    width:100%;
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    background-color: #DDDDDD;
    height: 30px;
}

div.headerBox ul {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

div.headerBox li.yuimenubaritem, div.headerBox li.yuimenuitem {
    display: block;
    float: left;
    position: relative;
    height: 30px;
    cursor: pointer;
}

div.headerBox li.right-aligned {
    float: right;
}

div.headerBox li.submenuentry1 {
    width: 180px;
    border: 1px solid #999999;
}

div.headerBox li.submenuentry1 a.yuimenuitemlabel {
    border-bottom: 1px solid #999999;
}

div.headerBox li.submenuentry2 {
    width: 185px;
    border: 1px solid #999999;
}

div.headerBox li.submenuentry2 a.yuimenuitemlabel {
    border-bottom: 1px solid #999999;
}

div.headerBox li.yuimenubaritem-hassubmenu {
    
}

div.headerBox a.yuimenubaritemlabel,
div.headerBox a.yuimenuitemlabel {
    
    font-weight: bold;
    font-size: 12px;
    color: #777777;
    display: block;
    padding: 8px 15px;
    background: #DDDDDD;
}

/*
div.headerBox li.yuimenubaritem-selected,
div.headerBox li.yuimenuitem-selected {
    background: #AAAAAA;
}
*/
div.headerBox a.yuimenubaritemlabel-selected,
div.headerBox a.yuimenuitemlabel-selected {
    color: white;
    background: #AAAAAA;
}

div.headerBox li.inactive {
    border: 1px solid #BBBBBB;
}

div.headerBox li.inactive a.yuimenubaritemlabel,
div.headerBox li.inactive a.yuimenuitemlabel {
    border-bottom: 1px solid #BBBBBB;
}

div.headerBox li.inactive a.yuimenuitemlabel,
div.headerBox li.inactive a.yuimenubaritemlabel,
div.headerBox li.inactive a.yuimenubaritemlabel-selected,
div.headerBox li.inactive a.yuimenuitemlabel-selected {
    background: #FFFFFF;
    color: #BBBBBB;
}


/* Table Filtering Box */
div.filterBox {
    width: 100%;
    visibility: hidden;
    height: 0px;
    color: white;
    background: #AAAAAA;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
}

div.filterBox img.filterCloseButton {
    cursor: pointer;
}

div.filterBox span {
}

div.filterBox label {
    font-size: 13px;
}

/*
div.filterBox {

}
*/

/* Table display */
div.dataBox {
    height: 100%;
    width: 100%;
}

span.yui-dt-label input {
    margin-left: 5px;
    vertical-align: middle;
}
