/*
   A wrapper that wraps around everything except the footer.
   Used to place the footer correctly at the bottom
*/
div.contentWrapper {
    height: auto !important;
    min-height: 100%;
}
/*
    Used to create empty space in end of wrapper
    which is used but the footer
*/
div.contentWrapper .emptyFooter {
    height: 80px;
}

body {
    font-family: arial, serif;
    background: #fff;
    padding: 0px;
    margin: 0px;
    font-size: 13px;
}

body, html {
    height: 100%;
}

h1, h2, h3, h4 {

}

/* Page Header */
div.pageHeader {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 0px;
    border-bottom: 1px solid #999999;
}

div.pageHeader div.headerCaption {
    position: absolute;
    top: 30px;
    left: 430px;
    width: 250px;
    color: #666666;
    font-style: italic;
    font-size: 14px;
}

/* Page Content englobing div */
div.pageContent {
    padding: 20px;
    min-height: 80px;
}

div.content {
    height: 100%;
    width: 100%;
}

/* Page Footer */
div.pageFooter {
    text-align: center;
    color: #444444;
    height: 40px;
    margin-top: -80px;
    margin-bottom: 5px;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #999999
}

/* Default behaviour for anchors */
a img {
    border: none;
}

a:link {
    color: #0b63a5;
    text-decoration: none;
}

a:visited {
    color: #0b63a5;
    text-decoration: none;
}

a:active {
    color: #e25300;
}

a:hover {
    color: #e25300;
    cursor: pointer;
}

/* Error lists */

div.errorsBox {
    padding-top: 20px;
}

div.errors ul {
    list-style-type: none;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 18px;
}

div.errors li {
    border: 1px solid;
    color: #D8000C;
    background-color: #FFBABA;
    font-size: 14px;
    padding: 4px;
    margin-bottom: 1px;
    margin-top: 1px;
}

/* Styles for the main menu */

div.globalMenu
{
    background: #5fa5d4;
    border-bottom: 1px solid #999999;
    height: 30px;
    width: 100%;
}

div.globalMenu ul {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

div.globalMenu li {
    display: block;
    float: left;
    position: relative;
    height: 30px;
    cursor: pointer;
}

div.globalMenu li.mouseover {
    background: #0b63a5;
}

div.globalMenu a
{
    font-weight: bold;
    font-size: 13px;
    color: white;
    display: block;
    padding: 8px 15px;
}


/*
div.globalMenu span
{
    font-weight: bold;
    font-family: Verdana;
    font-size: 11px;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    margin-right: 15px;
    letter-spacing: 0.04em;
    display: block;
}

div.globalMenu .dropDownMenu {
    padding-right: 20px;
    background: transparent url(../images/menu_arrow_white.png) scroll no-repeat center right;
}
*/

